#extension   { 
    background-color: #f8f8f8;
    width: 400px;
    height: 600px;
}

#qr-button{ 
    margin-top: 10px;
    width: 50%;
}

#qrcode { 
    margin-top: 30px;
    width: 82%;
    margin: 0 auto;
}

#qr-input, #file { 
    margin-top: 5px;
    background-color: #f8f8f8;
}

#a-download, #a-read, #a-source { 
  font-size: 110%;
  text-align: center;
}

#a-return { 
  font-size: 120%;
}

#content { 
    word-wrap: break-word;
}

h2 { 
    text-align: center;
}

span, p { 
    font-size: 113%;
}

#qr-data { 
 margin-top: 15px;   
}

input[type=file] { 
  color: #5755D9;     
}
